:root {
  --primary-color: #212429;
  --secondary-color: #f8b500;
  --background-color: #c1c0b9;
  --content-font: "Poppins", sans-serif;
}

body {
  background-color: var(--background-color);
}

h1,
h2,
h3 {
  font-family: "Quicksand", sans-serif;
  color: var(--background-color);
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  color: var(--primary-color);
}

h3 {
  line-height: 40px;
}

p {
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  line-height: 25px;
}

@media (max-width: 900px) {
  .hero {
    text-align: center;
  }
  .project-description {
    text-align: center;
  }
}

.avatar {
  display: block;
  margin: 0 auto;
}

.hero {
  padding: 120px 30px;
  background-color: var(--primary-color);
}

.contact-btn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.lunch-btn {
  color: var(--primary-color);
  background-color: var(--background-color);
  padding: 6px 12px;
  border: solid 1px var(--primary-color);
}

.lunch-btn:hover {
  color: var(--background-color);
  background-color: var(--primary-color);
  padding: 6px 12px;
  transition: ease-in-out 0.5s;
}

.about-hero {
  padding: 120px 30px;
  text-align: center;
}
.about-heading {
  color: var(--primary-color);
}
